body {
    background-color: #222;
}

.colors {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.win {
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translate(-50%, -50%);
    display: none;
    color: #fff;
}

.start,
.end {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    font-family: cursive, sans-serif;
    position: absolute;
    color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 200;
    font-size: 60px;
}

.start > *,
.end > * {
    margin: 0;
}

.start > p,
.end > p {
    font-size: 26px;
}

.end {
    display: none;
}

.countText > * {
    margin: 0;
}

.countText {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    z-index: 200;
    color: #fff;
}

.color {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    box-shadow: inset 0 0 20px #2222;
    position: absolute;
    cursor: pointer;
}

.row {
    width: 200px;
    height: 100px;
    position: relative;
    display: flex;
}

.color.selected {
    box-shadow: inset 0 0 60px #fff;
}

.color.red {
    background-color: #f00;
    right: 0;
}

.color.green {
    background-color: #0f0;
    left: 0;
}

.color.yellow {
    background-color: #ff0;
    left: 0;
}

.color.pink {
    background-color: #ff00aa;
    right: 0;
}

.show {
    display: flex;
}

.color.show:active {
    background-color: #fff;
}

.row.first .color:first-child {
    border-top-left-radius: 100%;
}

.row.first .color:last-child {
    border-top-right-radius: 100%;
}

.row.second .color:first-child {
    border-bottom-left-radius: 100%;
}

.row.second .color:last-child {
    border-bottom-right-radius: 100%;
}

.center {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
    border-radius: 50%;
    box-shadow: 0 0 7px #222;
    border: 2px solid #fff;
    z-index: 100;
}